/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: #1784c7;
  text-decoration: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Main Page Content */
.cd-main-content {
  height: 768px;
}
.cd-main-content .cd-dashboard-tabs {
  height: 100%;
}

.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-main-content .cd-dashboard-tabs {
    
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .cd-dashboard-tabs {
    height: 100%;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}

@media only screen and (min-width: 1170px) {
  .cd-main-content .cd-dashboard-tabs .cd-about-tab{
    position: relative;
    left: 140px;
    top: 50px;
    width: calc(100% - 140px);
    height: calc(100% - 50px);
    background: #eddfd6;
  }

  .cd-main-content .cd-dashboard-tabs .cd-data-tab{
    position: relative;
    left: 140px;
    top: 50px;
    width: calc(100% - 140px);
    height: calc(100% - 50px);
    background: #eddfd6;
  }

  .cd-main-content .cd-dashboard-tabs .cd-about-tab .cd-welcome-card{
    position: absolute;
    float: left;
    display: block;
    left: 30px;
    top: 30px;
    width: calc(30%);
    height: calc(100% - 175px);
    background: #ffffff;
  }

  .cd-main-content .cd-dashboard-tabs .cd-about-tab .cd-tutorial-card{
    position: absolute;
    float: right;
    display: block;
    top: 30px;
    right: 30px;
    width: calc(62%);
    height: calc(100% - 175px);
    background: #ffffff;
  }

  .cd-main-content .cd-dashboard-tabs .cd-data-tab .cd-first-card{
    position: absolute;
    float: left;
    display: block;
    left: 30px;
    top: 30px;
    width: calc(62%);
    height: calc(100% - 175px);
    /*background: #ffffff;*/
  }

  .cd-main-content .cd-dashboard-tabs .cd-data-tab .cd-second-card{
    position: absolute;
    float: right;
    display: block;
    top: 30px;
    right: 30px;
    width: calc(30%);
    height: calc(100% - 175px);
    background: #ffffff;
  }

  .cd-main-content::before {
    content: 'desktop';
  }
}
/* Header */
.cd-main-header {
  position: absolute;
  z-index: 2001;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  /*display: table;*/
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 50px;
  }
}

.cd-main-header-div {
  position: absolute;
  z-index: 2001;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-main-header-div::after {
  clear: both;
  content: "";
  /*display: table;*/
}

@media only screen and (min-width: 768px) {
  .cd-main-header-div {
    position: fixed;
    height: 50px;
  }
}

.cd-home-logo {
  float: left;
  display: block;
  margin: 0 0 0 0;
  background: #ed6a45;
  height:50px;
  width: 140px;
  position: relative;
}
.cd-home-logo img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6,0.6); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.6,0.6); /* Mozilla */
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.6,0.6); /* IE */
  -o-transform: translateX(-50%) translateY(-50%) scale(0.6,0.6); /* Opera */
  transform: translateX(-50%) translateY(-50%) scale(0.6,0.6);
}

@media only screen and (min-width: 768px) {
  .cd-home-logo {
    margin: 0 0 0 0;
  }
}

.cd-title-heading {
  float: left;
  width: 600px;
  height: 100%;
}

.cd-title-heading h1 {
  position:absolute;
  margin-left: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari */
  -moz-transform: translateY(-50%); /* Mozilla */
  -ms-transform: translateY(-50%); /* IE */
  -o-transform: translateY(-50%); /* Opera */
  transform: translateY(-50%);
  font-family: Roboto, sans-serif;
  font-size: 17px;
  color: #a7a9ac;
}

.cd-share-logo {
  float: right;
  display: block;
  margin-right: 15px;
  height: 100%;
  width: 30px;
  position: relative;
}

.cd-share-logo img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Mozilla */
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* IE */
  -o-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Opera */
  transform: translateX(-50%) translateY(-50%) scale(0.45,0.45);
}

.cd-history-logo {
  float: right;
  display: block;
  margin-right: 15px;
  height: 100%;
  width: 30px;
  position: relative;
}

.cd-history-logo img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Mozilla */
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* IE */
  -o-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Opera */
  transform: translateX(-50%) translateY(-50%) scale(0.45,0.45);
}

.cd-sample-pic {
  float: right;
  display: block;
  margin-right: 15px;
  height: 100%;
  width: 30px;
  position: relative;
}

.cd-sample-pic img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Mozilla */
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* IE */
  -o-transform: translateX(-50%) translateY(-50%) scale(0.45,0.45); /* Opera */
  transform: translateX(-50%) translateY(-50%) scale(0.45,0.45);
}

.cd-profile-message {
  float: right;
  width: 150px;
  height: 100%;
  margin-right:15px;
}

.cd-profile-message h1 {
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari */
  -moz-transform: translateY(-50%); /* Mozilla */
  -ms-transform: translateY(-50%); /* IE */
  -o-transform: translateY(-50%); /* Opera */
  transform: translateY(-50%);
  font-family: Roboto, sans-serif;
  font-size: 11px;
  color: #a7a9ac;
}

/* Sidebar */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #4d4943;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav > ul > li > img {
  position: relative;
  left: 50%;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 30px;
  width: 30px;
}

.cd-side-nav > ul > li > span {
  position: absolute;
  top: 63%;
  left: 50%;
  bottom: auto;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 50px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav span {
    color: #bcbec0;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 140px;
  }
  .cd-side-nav > ul > li {
    padding: calc(2.2em + 6px) 0 2.4em;
  }
  .cd-side-nav .active {
    background-color: #faf6f3;
  }
  .cd-side-nav .active > span{
    color: #c4a37a;
  }
  
  .cd-side-nav .hover > span{
    color: #c4a37a;
  }

}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 140px;
  }
  .cd-side-nav > ul {
    padding: 0 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover {
    background-color: #faf6f3;
    color: #c4a37a;
  }
  .cd-side-nav > ul > li {
    text-align: left;
    border-bottom: none;
    height: 100px;
  }
}
.has-children.selected > ul {
  display: block;
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .no-touch .has-children ul li:hover {
    color: #1784c7;
  }
  .cd-side-nav .has-children.selected {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
