#bootstrap-overrides .barTab #barFirstRow {
  height: 40px;
}

#bootstrap-overrides .barTab #infoImage {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .barTab #downloadImage {
	width: 24px;
	height: 24px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .barTab #percentText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .barTab #dropDownText {
	font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .barTab .dropDownCol {
  padding-right: 0px;
  width: 160px;
}

#bootstrap-overrides .barTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
  height: 25px;
}

#bootstrap-overrides .barTab #dropDown{
  border-color: #aaa;
}

#bootstrap-overrides .y.axis line {
  fill: none;
  stroke: #E9E9E9;
  stroke-dasharray: 8,6;
  shape-rendering: crispEdges;
}

#bootstrap-overrides .x.axis path, .x.axis line {
  fill: none;
  stroke: #B5B5B5;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

#bootstrap-overrides .barTab #dropDownSide{
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .barTab .caret{
  color: white;
}

#bootstrap-overrides .barTab #mapDropDown{
  z-index: 1000;
}

#bootstrap-overrides .barTab #dd-button{
  border-color: #aaa;
  border-radius:0;
  width: 180px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .barTab #dd-text {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
}

#bootstrap-overrides .barTab #barSecondRow {
  height: 440px;
  fill: white;
}

#bootstrap-overrides .barTab #barCol {
  height: 410px;
  padding-left: 40px;
}

/* pinwheelTooltip styling */

#bootstrap-overrides .pinwheelTooltip { 
    position: absolute;
    text-align: left;
    width: 200px;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 30px; 
    color: #fff;
    background: #B1B1B1;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1031;
} 

#bootstrap-overrides .pinwheelTooltip:after, #bootstrap-overrides .pinwheelTooltip:before { 
  right: 100%; 
  top: 25%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
} 

#bootstrap-overrides .pinwheelTooltip:after { 
  border-color: rgba(255, 255, 255, 0); 
  border-right-color: #B1B1B1; 
  border-width: 10px; 
  margin-top: -15px; 
} 

#bootstrap-overrides .pinwheelTooltip:before { 
  border-color: rgba(255, 255, 255, 0); 
  border-right-color: #B1B1B1; 
  border-width: 10px; 
  margin-top: -15px; 
}

#bootstrap-overrides .barTab #cityName {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

#bootstrap-overrides .barTab #valLine {
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

#bootstrap-overrides .barTab #descLine {
  font-family: Roboto;
  font-size: 11px;
  color: #ffffff;
}
