#bootstrap-overrides .censusTab .censusCol {
  padding-right: 0px;
  padding-top: 4px;
}

#bootstrap-overrides .censusTab #censusText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .censusTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
  height: 25px;
}

#bootstrap-overrides .censusTab #dropDown {
  border-color: #aaa;
}

#bootstrap-overrides .censusTab #dropDownSide {
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .censusTab .caret {
  color: white;
}

#bootstrap-overrides .censusTab #mapDropDown {
  z-index: 701; /* A randomly high number */
}

#bootstrap-overrides .censusTab #dd-button {
  border-color: #aaa;
  border-radius:0;
  width: 150px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .censusTab #dd-text {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
  text-align: left;
}

#bootstrap-overrides .censusTab #censusSecondRow {
  height: 300px;
  fill: white;
}

#bootstrap-overrides .censusTab #censusThirdRow {
  height: 100px;
  padding-top: 60px;
}

#bootstrap-overrides .censusTab #row_1 {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#bootstrap-overrides .censusTab #row_2 {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#bootstrap-overrides .censusTab #popImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides .censusTab #occImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides .censusTab #unitImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides .censusTab #emptyUnitImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides .censusTab #text_1_1_2_1, #text_1_2_2_1, #text_2_1_2_1, #text_2_2_2_1 {
  font-family: Roboto;
  font-size: 20px;
  color: #414042;
}

#bootstrap-overrides .censusTab #text_1_1_2_2, #text_1_2_2_2, #text_2_1_2_2, #text_2_2_2_2 {
  font-family: Roboto;
  font-size: 9px;
  color: #414042;
  opacity: 0.53;
  padding-top: 4px;
}

#bootstrap-overrides .censusTab #text_1_2_2_2 {
  margin-right: 5px;
}

#bootstrap-overrides .censusTab #text_2_2_2_2 {
  margin-right: 5px;
}
