#bootstrap-overrides .webTab #webFirstRow {
  height: 40px;
}

#bootstrap-overrides .webTab #infoImage {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .webTab #downloadImage {
	width: 24px;
	height: 24px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .webTab #percentText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .webTab #dropDownText {
	font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .webTab .dropDownCol {
  padding-right: 0px;
  width: 160px;
}

#bootstrap-overrides .webTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
}

#bootstrap-overrides .webTab #dropDown{
  border-color: #aaa;
}

#bootstrap-overrides .webTab #dropDownSide{
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
}

#bootstrap-overrides .webTab .caret{
  color: white;
}

#bootstrap-overrides .webTab #mapDropDown{
  z-index: 1000;
}

#bootstrap-overrides .webTab #dd-button{
  border-color: #aaa;
  border-radius:0;
  width: 180px;
  text-align: left;
}

#bootstrap-overrides .webTab #dd-text {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
}