#bootstrap-overrides .bubbleTab #bubbleFirstRow {
  height: 40px;
}

#bootstrap-overrides .bubbleTab #infoImage {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .bubbleTab #downloadImage {
	width: 24px;
	height: 24px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .bubbleTab #percentText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .bubbleTab #dropDownText {
	font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .bubbleTab .dropDownCol {
  padding-right: 0px;
  width: 160px;
}

#bootstrap-overrides .bubbleTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
}

#bootstrap-overrides .bubbleTab #dropDown{
  border-color: #aaa;
}

#bootstrap-overrides .bubbleTab #dropDownSide{
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
}

#bootstrap-overrides .bubbleTab .caret{
  color: white;
}

#bootstrap-overrides .bubbleTab #mapDropDown{
  z-index: 1000;
}

#bootstrap-overrides .bubbleTab #dd-button{
	border-color: #aaa;
	border-radius:0;
	width: 218px;
	text-align: left;
}

#bootstrap-overrides .bubbleTab #dd-text {
	font-family: Roboto ;
	font-size: 11px;
	font-weight: lighter;
	color: #A7A9AC;
}

.bubbleTab .axis{
	font-family: Roboto ;
	font-size: 11px;
}

.bubbleTab .axis line {
	shape-rendering: crispEdges;
	stroke: #B5B5B5;
	stroke-dasharray:8,6;
}

#tab3 .pinwheelTooltip { 
    position: absolute;
    text-align: left;
    width: 240px;
    height: 160px;
    padding: 14px;
    color: #FFFFFF;
    background: #A7A9AC;
    opacity:0.8;
    border: solid 2px #ccc;
    border-radius: 4px;
	opacity:0.8;
    pointer-events: none;
	z-index: 1031;
} 

#tab3 .pinwheelTooltip:after, #tab5 .pinwheelTooltip:before { 
	left: 88%; 
	top: 109%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

#tab3  .pinwheelTooltip:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-right-color: #A7A9AC;
	border-top-color: #A7A9AC;	
	border-width: 15px; 
	margin-top: -15px; 
} 

#tab3 .pinwheelTooltip:before { 
	border-color: rgba(109, 110, 112, 0); 
	border-right-color: #A7A9AC; 
	border-top-color: #A7A9AC;	
	border-width: 18px; 
	margin-top: -18px; 
}
