#bootstrap-overrides #mapFirstRow_Sec {
  height: 20px;
}

#bootstrap-overrides #cityText_Sec {
  font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .mapTab #mapFirstRow {
  height: 35px;
}

#bootstrap-overrides .mapTab #mapSecondRow {
  height: 35px;
}

#bootstrap-overrides .mapTab #mapThirdRow {
  height: 400px;
  fill: white;
}

#bootstrap-overrides #mapSecondRow_Sec {
  height: 300px;
  fill: white;
}

#bootstrap-overrides #mapThirdRow_Sec {
  height: 100px;
  padding-top: 60px;
}

#bootstrap-overrides #row_1 {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#bootstrap-overrides #row_2 {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#bootstrap-overrides #popImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides #occImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides #unitImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides #emptyUnitImage {
  width: 30px;
  height: 30px;
}

#bootstrap-overrides #text_1_1_2_1, #text_1_2_2_1, #text_2_1_2_1, #text_2_2_2_1 {
  font-family: Roboto;
  font-size: 20px;
  color: #414042;
}

#bootstrap-overrides #text_1_1_2_2, #text_1_2_2_2, #text_2_1_2_2, #text_2_2_2_2 {
  font-family: Roboto;
  font-size: 9px;
  color: #414042;
  opacity: 0.53;
  padding-top: 4px;
}

#bootstrap-overrides #text_1_2_2_2 {
  margin-right: 5px;
}

#bootstrap-overrides #text_2_2_2_2 {
  margin-right: 5px;
}

#bootstrap-overrides .mapTab #mapCol {
  height: 405px;
}

#bootstrap-overrides #mapCol_Sec {
  height: 320px;
}

#bootstrap-overrides .mapTab #toolTipCol {
  z-index: 1001;
  left: 5%;
  top: 5%;
}

#bootstrap-overrides .mapTab #tooltip {
  background-color: #F1F1F1;
  width: 180px;
  height:135px;
}

#bootstrap-overrides .mapTab #ttCityCol {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#bootstrap-overrides .mapTab #ttPercentCol {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#bootstrap-overrides .mapTab #ttPercentCol2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px; 
}

#bootstrap-overrides .mapTab #ttDescCol {
    padding-left: 30px;
    padding-right: 30px;
}

#bootstrap-overrides .mapTab #ttDescCol2 {
    padding-left: 30px;
    padding-right: 30px;
}

#bootstrap-overrides .mapTab #ttCityText {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #898989;
}

#bootstrap-overrides .mapTab #ttPercentText {
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  color: #898989;
}

#bootstrap-overrides .mapTab #ttPercentText2 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  color: #898989;
}

#bootstrap-overrides .mapTab #ttDescText {
  font-family: Roboto;
  font-size: 11px;
  color: #898989;
}

#bootstrap-overrides .mapTab #ttDescText2 {
  font-family: Roboto;
  font-size: 11px;
  color: #898989;
}

#bootstrap-overrides .mapTab #toolTipContainer {
  background-color: #F1F1D1;
}

#bootstrap-overrides .mapTab #infoImage {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
  transform: translateY(-5%);
}

#bootstrap-overrides .mapTab #bubbleImage {
  width: 20px;
  height: 20px;
}

#bootstrap-overrides .mapTab #mapImage {
  width: 20px;
  height: 20px;
}

#bootstrap-overrides .mapTab #downloadImage {
	width: 24px;
	height: 24px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .mapTab #colorSVG {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 15px; 
}

#bootstrap-overrides .mapTab #colorLegendCol {
    margin-left: -15px; 
}

#bootstrap-overrides .mapTab #colorLegendCol {
    margin-left: -20px; 
}

#bootstrap-overrides .mapTab #percentText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .mapTab #dropDownText {
	font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .mapTab #dropDownText2 {
  font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .mapTab .dropDownCol {
  padding-right: 0px;
  width: 160px;
}

#bootstrap-overrides .mapTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
  height: 25px;
}

#bootstrap-overrides .mapTab #dropDownGrp2 {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
  height: 25px;
}

#bootstrap-overrides .mapTab #dropDown {
  border-color: #aaa;
}

#bootstrap-overrides .mapTab #dropDownSide {
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .mapTab #dropDownSide2 {
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .mapTab .caret {
  color: white;
}

#bootstrap-overrides .mapTab #mapDropDown {
  z-index: 701; /* A randomly high number */
}

#bootstrap-overrides .mapTab #mapDropDown2 {
  z-index: 700; /* A randomly high number */
}

#bootstrap-overrides .mapTab #dd-button {
  border-color: #aaa;
  border-radius:0;
  width: 180px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

#bootstrap-overrides .mapTab #dd-button2 {
  border-color: #aaa;
  border-radius:0;
  width: 180px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px; 
}

#bootstrap-overrides #dd-text {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
}

#bootstrap-overrides #dd-text2 {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
}