#bootstrap-overrides .cd-first-card #buttonRow {
    margin-right: 0px;
    margin-left: 0px;
}

#bootstrap-overrides .cd-first-card .btn-group-justified>.btn-group .btn {
    width: 100%;
    height: 40px;
}

#bootstrap-overrides .cd-first-card .btn-collection-1 .btn {
    -webkit-border-radius:0;
}

#bootstrap-overrides .cd-first-card .well {
	-webkit-border-radius:0;
	background-color: #ffffff;
  height: calc(100% - 40px);
}

#bootstrap-overrides .cd-first-card .btn-primary {
    background-color: #ed6a45;
    border-color: #ed6a45;
}

#bootstrap-overrides .cd-first-card .btn-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

#bootstrap-overrides .nopadding {
   padding: 0;
   margin: 0;
}

#bootstrap-overrides .cd-first-card #compareColumn {
    padding-left: 0px;
    padding-right: 0px;
}

#bootstrap-overrides .cd-first-card .btn-primary img {
  display: block;
  position: absolute;
  top: 50%;
  left: 16%;
  -webkit-transform: translateY(-50%) scale(0.7,0.7); /* Safari */
  -moz-transform: translateY(-50%) scale(0.7,0.7); /* Mozilla */
  -ms-transform: translateY(-50%) scale(0.7,0.7); /* IE */
  -o-transform: translateY(-50%) scale(0.7,0.7); /* Opera */
  transform: translateY(-50%) scale(0.7,0.7);
  height: 30px;
  width: 30px;
}

#bootstrap-overrides .cd-first-card .btn-default img {
  display: block;
  position: absolute;
  top: 50%;
  left: 16%;
  -webkit-transform: translateY(-50%) scale(0.7,0.7); /* Safari */
  -moz-transform: translateY(-50%) scale(0.7,0.7); /* Mozilla */
  -ms-transform: translateY(-50%) scale(0.7,0.7); /* IE */
  -o-transform: translateY(-50%) scale(0.7,0.7); /* Opera */
  transform: translateY(-50%) scale(0.7,0.7);
  height: 30px;
  width: 30px;
}

#bootstrap-overrides .cd-first-card .btn-default #mapText {
  position: relative;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-5%); 
  -moz-transform: translateX(-5%); 
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-first-card .btn-primary #mapText {
  position: relative;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}

#bootstrap-overrides .cd-first-card .btn-default #barText {
  position: relative;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-5%); 
  -moz-transform: translateX(-5%); 
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-first-card .btn-primary #barText {
  position: relative;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}

#bootstrap-overrides .cd-first-card .btn-default #bubbleText {
  position: relative;
  text-align: left;
  left: 44%;
  -webkit-transform: translateX(-5%); 
  -moz-transform: translateX(-5%); 
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-first-card .btn-primary #bubbleText {
  position: relative;
  text-align: left;
  left: 44%;
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}

#bootstrap-overrides .cd-first-card .btn-default #spiderText {
  position: relative;
  text-align: left;
  left: 44%;
  -webkit-transform: translateX(-5%); 
  -moz-transform: translateX(-5%); 
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-first-card .btn-primary #spiderText {
  position: relative;
  text-align: left;
  left: 44%;
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}

#bootstrap-overrides .cd-first-card .btn-default #compareText {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-first-card .btn-primary #compareText {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}