#bootstrap-overrides .compareTab #webFirstRow {
  height: 40px;
}

#bootstrap-overrides .compareTab #infoImage {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .compareTab #downloadImage {
	width: 24px;
	height: 24px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
}

#bootstrap-overrides .compareTab #percentText {
	font-family: Roboto ;
  font-size: 15px;
  color: #A7A9AC;
}

#bootstrap-overrides .compareTab #dropDownText {
	font-family: Roboto ;
  font-size: 15px;
  font-weight: bold;
  color: #A7A9AC;
}

#bootstrap-overrides .compareTab .dropDownCol {
  padding-right: 0px;
  width: 160px;
}

#bootstrap-overrides .compareTab #dropDownGrp {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  width: 250px;
}

#bootstrap-overrides .compareTab #dropDown{
  border-color: #aaa;
}

#bootstrap-overrides .compareTab #dropDownSide{
  background-color: grey;
  border-color: #aaa;
  font-size: 11px;
  border-radius: 0;
}

#bootstrap-overrides .compareTab .caret{
  color: white;
}

#bootstrap-overrides .compareTab #mapDropDown{
  z-index: 1000;
}

#bootstrap-overrides .compareTab #dd-button{
  border-color: #aaa;
  border-radius:0;
  width: 218px;
  text-align: left;
}

#bootstrap-overrides .compareTab #dd-text {
  font-family: Roboto ;
  font-size: 11px;
  font-weight: lighter;
  color: #A7A9AC;
}

#tab5 .pinwheelTooltip { 
    position: absolute;
    text-align: left;
    width: 240px;
    height: 100px;
    padding: 14px;
    color: #FFFFFF;
    background: #A7A9AC;
    opacity:0.8;
    border: solid 2px #ccc;
    border-radius: 4px;
	opacity:0.8;
    pointer-events: none;
	z-index: 1031;
} 

#tab5 .pinwheelTooltip:after, #tab5 .pinwheelTooltip:before { 
	left: 100%; 
	top: 82%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

#tab5  .pinwheelTooltip:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-left-color: #A7A9AC;
	border-bottom-color: #A7A9AC;	
	border-width: 15px; 
	margin-top: -15px; 
} 

#tab5 .pinwheelTooltip:before { 
	border-color: rgba(109, 110, 112, 0); 
	border-left-color: #A7A9AC; 
	border-bottom-color: #A7A9AC;	
	border-width: 18px; 
	margin-top: -18px; 
}
