#bootstrap-overrides .cd-second-card .btn-group-justified>.btn-group .btn {
    width: 100%;
    height: 40px;
}

#bootstrap-overrides .cd-second-card .btn-collection-2 .btn {
    -webkit-border-radius:0;
}

#bootstrap-overrides .cd-second-card .well {
  -webkit-border-radius:0;
  background-color: #ffffff;
  height: calc(100% - 40px);
}

#bootstrap-overrides .cd-second-card .btn-default p {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #808285;
}

#bootstrap-overrides .cd-second-card .well {
  -webkit-border-radius:0;
  background-color: #ffffff;
  height: calc(100% - 40px);
}

#bootstrap-overrides .cd-second-card .btn-primary {
    background-color: #ed6a45;
    border-color: #ed6a45;
}

#bootstrap-overrides .cd-second-card .btn-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

#bootstrap-overrides .cd-second-card .btn-primary p {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif ;
  font-size: 10px;
  color: #ffffff;
}